awscli==1.16.313
boto3==1.10.49
jupyterlab>=1.0.0,<1.1.0
matplotlib==3.0.3
numpy==1.17.3
opencv-python>=4.4.0.0,<4.5.0.0
pandas==0.24.2
pickleshare==0.7.5
Pillow==6.2.1
python-dateutil==2.8.0
requests==2.22.0
scipy==1.3.1
six==1.12.0
redis==3.0.1
redis-py-cluster==2.0.0
tensorboard==1.14.0
tensorflow==2.5.3
tensorflow-estimator==1.14.0
tensorflow-gpu==1.14.0

